@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
.login_form{
    margin: 50px auto 150px;
    width: 400px;
    border: 1px solid lightgray;
    padding: 43px;
    border-radius: 10px;
}

.custom-control-label {
    font-weight: 400;
}

.forgot-password,
.forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
}

.forgot-password a {
    color: #167bff;
}