@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
.image_container{
    display: flex;
    float: left ;
    width: 60%;
    padding-right: 2rem;
    position: sticky;
    top: 0;
    margin: 100px 50px 100px 100px;

}

.small_image{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100px;
    margin: 0 32px 0 0;
}

.small_image img{
    width: 100%;
    height: 57px;
    vertical-align: top;
}

.__react_modal_image__modal_content img, .__react_modal_image__modal_content svg{
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: 646px;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    overflow: hidden;
    z-index: 8;
}

.small_image_li{
    width: 100%;
    float: none;
    padding: 5px 10px;
    border: 2px solid transparent;
    margin-left: 25px;
}

.default_img {
    border: 2px solid #007bb6;
}

.default_img:visited{
    border: none;
}
/*.default_img::after {*/
/*    border: 2px solid transparent;*/
/*}*/

.small_image_li:hover{
    border: 2px solid #007bb6;
}

.image_video_logo {
    width: 80px;
    height: 70px;
    position: absolute;
    top: 152px;
    left: 50px;
    color: red;
    cursor: pointer;
}



.big_image img{
    width: 605px;
    cursor: url("https://store.hermanmiller.com/on/demandware.static/Sites-herman-miller-Site/-/en_US/v1595930518154/images/svg-icons/zoom-in-icon.svg"), url("https://store.hermanmiller.com/on/demandware.static/Sites-herman-miller-Site/-/en_US/v1595930518154/images/cursors/zoom-in-icon.cur"), auto  !important;
}



.more_image{
    margin-left: 35px;
    padding: 17px 29px;
    align-items: center;
    text-align: center;
    position: absolute;
    background-color: lightgrey;
    opacity: 0.7;
    top: 361px;
}

.more_image:hover{
    cursor: pointer;
}

.no_image{
    display: none;
}

.chair_info_detail{
    display: flex;
    flex-direction: column;
    margin-right: 230px;
    font-family: 'Exo', sans-serif;
}

.rating{
    color: #0d75cb;
    display: flex;
    align-items: center;
}

.rating p{
    margin: 4px;
    text-align: center;
    top: 1px;
    position: relative;
}

.detail_price{
    margin:18px 0;
    font-size: 19px;
}

.detail_warranty{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: black;
}

.detail_warranty a{
    align-items: baseline;
    vertical-align: middle;
    color: #252525;
    margin: 7px 0;
}

.detail_warranty span{
    margin-left: 5px;
}

.detail_warranty a:hover{
    text-decoration: none;
}

.radio_categories{
    display: block;
    width: 300px;
    font-size: 20px;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    color: #252525;
    background-color: #f7f7f7;
    padding: 12px;
    margin: 10px 0;
}

.radio_container{
    display: block;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid lightgray;
    /*z-index: -1;*/
}

.radio_container:hover{
    z-index: 1;
}

.radio_container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 50%;
}

.radio_container:hover input ~ .checkmark {
    background-color: #ccc;
}

.radio_container input:checked ~ .checkmark {

    background: url("https://store.hermanmiller.com/on/demandware.static/Sites-herman-miller-Site/-/en_US/v1596050289380/images/radio-selected-checked.png");
    background-size: 20px 20px;

}

.checkmark:after {
    position: absolute;
    display: none;

}

.radio_container input:checked ~ .checkmark:after {
    display: block;
}

.radio_container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.__react_modal_image__modal_content img, .__react_modal_image__modal_content svg{
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: 646px;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    overflow: hidden;
    z-index: 8;
    cursor: pointer !important;
}

.description{
    border-top: 1px solid #ebebeb;
    margin-top: 30px;
}

.description h4{
    text-align: center;
    padding: 20px 0 45px;
    font-size: 32px;
}

.description-list{
    display: flex;
}

.left-side{
    color: #757575;
    font-family: 'Oswald', sans-serif;
    flex: 0 50%;
    margin-left: 20px;
    margin-right: 60px;
}

.right-side{
    vertical-align: baseline;
    color: #464646;
    font-family: 'Oswald', sans-serif;
    margin-left: 100px;
}

.right-side h6 {
    margin: 0;
    font-size: 1rem;
}

.right-side ul{
    padding: 0 18px;
    margin: 30px 0;
}

.right-side li {
    margin: 20px 0;
}

.total_info{
    height: 4vw;
    background-color: #ffffff;
    border-top: solid 1px lightgray;
    display: flex;
    justify-content: space-between;
    font-family: 'Exo', sans-serif;
    min-height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
    margin: 0 -10px;
}

.info_left{
    padding: 0 2vw;
}

.info_left h3{
    font-size: 1.2vw;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    margin: 1.2vw 0;
}

.info_right{
    display: flex;
}

.info_shipping{
    color: #757575;
    margin: 1.5vw .5vw;
    font-size: .9vw;
}

.info_amount{
    font-size: 1.2vw;
    font-weight: bold;
    margin: 1.1vw 0 0 1vw;
    line-height: 2vw;
}

#quantity_type{
    width: 3vw;
    line-height: 3vw;
    height: 2vw;
    text-align: center;
    border-radius: 4px;
    border: solid 1px #616161;
    margin: 1.1vw 1vw 1.1vw 2vw;
    font-size: 1vw;
}

.add_to_cart{
    margin: 0.9vw 2vw .9vw 1vw;
    width: 7vw;
    line-height: 2.3vw;
    height: 2.3vw;
    background-color: #cc331e;
    color: #ffffff;
    border-radius: 4px;
    border-style: none;
    font-weight: bold;
    font-size: 1vw;
}

.snackbar{
    margin-bottom: 55px;
    background: dimgrey;
    color: white;
    font-weight: 700;
    border-radius: 7px;
    opacity: 0.85;
}

.snackbar_alert{
    margin: unset;
}